/* Style for the Instagram icon */
.fab.fa-instagram {
  color: #E4405F; /* Instagram's brand color */
  font-size: 3rem; /* Adjust the size as needed */
  margin-right: 10px; /* Add some space to the right */
}

/* Additional styles for hover effect */
.fab.fa-instagram:hover {
  color: #C13584; /* Darker shade for hover effect */
}

/* Style for the Facebook icon */
.fab.fa-facebook {
    color: #3b5998; /* Facebook's brand color */
    font-size: 3rem; /* Adjust the size as needed */
    margin-right: 10px; /* Add some space to the right */
  }
  
  /* Additional styles for hover effect */
  .fab.fa-facebook:hover {
    color: #2d4373; /* Darker shade for hover effect */
  }

  .btn.btn-primary {
    background-color: #DFA626;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }