<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>If you have any questions, would like to schedule a cleaning service, or a free estimate, please fill out the form below or contact us directly.</p>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Contact Information</h2>
        <p><i class="fas fa-map-marker-alt"></i> Serving the Scottsbluff/Gering Area</p>
        <p><i class="fas fa-phone"></i> (310) 418-7920</p>
        <p><i class="fas fa-envelope"></i> info&#64;cowiescleaningservice.com</p>
        <h2>Follow Us</h2>
        <p>
          <a href="https://www.instagram.com/cowiescleaningservice?igsh=dGJ5dnlwc3V3dHB2" target="_blank" ><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/p/Cowies-Cleaning-Service-100064792998546/" target="_blank"><i class="fab fa-facebook"></i></a>
      </p>
        </div>
    </div>
  </div>